@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
body{
  --slack-color: #3f0f40;
  overflow-x: hidden !important;
}
.app__body{
  display: flex;
  height: 100vh;
}
input:focus{
  outline: none;
}